.header {
    background-color: #316639;
    height: 110px;
    font-family: 'League Spartan';
    color: white;
    padding-left: 20px;
    padding-top: 0px;
    padding-right: 20px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.logo-picture {
    float: left;
    vertical-align: middle;
}

.footer {
    background-color: #316639;
    font-family: 'League Spartan';
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: white;
    margin-top: 5%;
    bottom: 0;
}

.h3 {
    font-size: 15px;
    font-family: 'League Spartan';
}

.column-title {
    text-align: center;
    margin-top: 20px;
}

.footer h3,
.footer h5,
.footer h6 {
    margin-bottom: 10px;
}

.artex-and-logo{
    display: flex;
}

@media (max-width: 768px) {
    .footer {
        height: auto;
        text-align: center;
    }

    .footer img{
        margin-right: 10px !important;
    }

    .footer .row {
        display: flex;
        flex-direction: column;
    }

    .footer .col-md-4 {
        width: 100%;
        margin-bottom: 20px;
    }

    .artex-and-logo {
        padding-left: 25%;
    }

    .white-line{
        margin-left: 7%;
    }
}


h1 {
    font-family: 'League Spartan';
    flex-grow: 1;
    text-align: center;
}

h2 {
    font-family: 'League Spartan';
    float: left;
    position: relative;
}

.section-title {
    padding-top: 40px;
    font-family: 'League Spartan';
}

.hoodie-category{
    padding-left:18%;
    color:white;
    width: 100%;
    max-width:550px;
    height:200px;
    background-color: #316639;
    border-radius:30px;
    position: relative;
    top:30px;
}

.gray-container{
    max-width: 500px;
    max-height: 617px;
    width: 250px;
    height: 250px;
    background-color: #E8E8E8;
    border-radius: 30px;
}

.hoodie-picture{
    float: right;
    top: 15px;
    position: absolute;
    right: 20%;
    width: 40%;
    height: 40%;
    max-width: 100px;
    max-height: 120px;
}

.tshirt-category{
    padding-left:18%;
    color:white;
    width: 100%;
    max-width:550px;
    height:200px;
    background-color: #316639;
    border-radius:30px;
    position: relative;
    top:30px;
}

.tshirt-picture{
    float: right;
    top: 15px;
    position: absolute;
    right: 20%;
    width: 40%;
    height: 40%;
    max-width: 100px;
    max-height: 120px;
}

.long-sleeved-category{
    padding-left:12%;
    color:white;
    width: 100%;
    max-width:550px;
    height:200px;
    background-color: #316639;
    border-radius:30px;
    position: relative;
    top:30px;
}

.shirt-picture{
    float: right;
    top: 15px;
    position: absolute;
    right: 20%;
    height: 10%;
    max-width: 80px;
}

.caps-category{
    padding-left: 22%;
    color:white;
    width: 100%;
    max-width:550px;
    height:200px;
    background-color: #316639;
    border-radius:30px;
    position: relative;
    top:30px;
}

.cap-picture{
    float: right;
    top: 15%;
    position: absolute;
    right: 20%;
    width: 40%;
    height: 40%;
    max-width: 100px;
    max-height: 120px;
}

.sleeveless-category{
    padding-left:16%;
    color:white;
    width: 100%;
    max-width:550px;
    height:200px;
    background-color: #316639;
    border-radius:30px;
    position: relative;
    top:30px;
}

.sleeveless-picture{
    float: right;
    top: 8%;
    position: absolute;
    right: 15%;
    width: 40%;
    height: 40%;
    max-width: 100px;
    max-height: 120px;
}

.button-see-all {
    padding: 10px 20px;
    width: 40%;
    max-width: 200px;
    height: auto;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    bottom: 15%;
    left: 10%;
    text-align: center;
    font-family: 'League Spartan';
    font-weight: normal;
    font-size: 1.5em;
    color: #316639;
    border-style: none;
    cursor: pointer;
    transition: 0.2s;
}

.button-see-all:hover,
.button-form:hover,
.product-card-button:hover {
    transform: scale(1.1);
}

.carousel-item img {
    margin-right: 20px;
}

.custom-next,
.custom-prev {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
  
  .custom-next img, .custom-prev img{
    width: 40px;
    height: 40px;
}

.carousel-inner {
    left:18px;
}

.carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #96c49d;
    bottom: -60px;
}

.carousel .carousel-indicators li.active {
    background-color: #316639;
}

.white-line {
    width: 310px;
    height: 1px;
    background-color: white;
}

.button-form {
    width: 180px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    font-family: 'League Spartan';
    font-weight: normal;
    font-size: 22px;
    color: #316639;
    border-style: none;
    cursor: pointer;
    transition: 0.2s;
}


.search-button {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border-style: none;
    cursor: pointer;
    padding-left: 2.5px;
}

.my-cart-btn {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border-style: none;
    cursor: pointer;
    padding-left: 2.5px;
}

.my-cart-link{
    margin-left: auto;
}

.category-button{
    margin-right: 20px;
    text-align: center;
    font-family: 'League Spartan';
    font-size: 18px;
    color:#316639;
    background-color: white;
    padding: 10px 20px;
    border-radius: 30px;
    border-color: #316639;
    border-style: solid;
    cursor: pointer;
    transition: 0.3s;
}

.category-button:hover {
    background-color:#316639;
    color:white;
}

.category-button:focus {
    background-color:#316639;
    color:white;
}

.search-bar {
    margin: 5% auto;
    width: 90%;
    max-width: 1000px;
    background: #dfdfdf;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 3px 12px;
    margin-bottom: 30px;
    margin-top:30px;
}

.search-bar input {
    flex: 1;
    background: transparent;
    border: 0;
    outline: none;
    padding: 10px 13px;
    font-size: 20px;
    color: black;
    font-family: 'League Spartan';
}

.submit-search {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 10px 15px;
}

.garment-sections {
    min-width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    overflow-x: auto;
}

.product-card-container{
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 14em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    background-color: #E8E8E8;
    margin-left: 2em;
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
}

.product-card-hoodie{
    padding: 15% 10px;
}


.product-card-cap{
    padding: 15% 10px;
}

.product-card-cap #embroidery{
    margin-top: 3.5vw !important;
}

.product-card-tshirt{
    padding: 15% 10px;
}

.product-card-tshirt #embroidery{
    margin-top: 3vw;
}

.product-card-longsleeve{
    padding: 15% 10px;
}

.product-card-longsleeve #garment{
    width: 87%;
    margin-left: 0.7vw;
}

.product-card-longsleeve #embroidery{
    margin-left: -7.5vw;
    margin-top: 3vw;
}

.product-card-sleeveless{
    padding: 15% 10px;
}

.product-card-sleeveless #garment{
    width: 80%;
    margin-left: 13%;
}

.product-card-sleeveless #embroidery{
    margin-left: -7vw;
}

.product-card-description{
    background-color: white;
    border-radius: 30px;
    padding: 1em;
    text-decoration: none;
}

.product-card-description h4{
    font-size: 1.5em;
    font-family: 'League Spartan';
    color: black;
}

.product-card-container img{
    max-width:100%;
}

.product-card-button{
    width: 50px;
    height: 50px;
    background-color: #316639;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    margin-bottom: 0;
}

.product-card-description div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'League Spartan';
    font-size: 1.3em;
    font-weight: 400;
}

@media screen and (max-width: 576px) {
    .product-card-container{
        max-width: 12em;
        margin-top: 0;
        margin-bottom: 30px;
        margin-left: 0;
    }

    .product-card-description{
        font-size: 3vw;
        border-radius: 4vw;
    }

    .container .row [class^="col-"] {
        margin-bottom: 2px;
    }

    .garment-sections {
        justify-content: left;
        margin-bottom: 20px;
    }

    .product-card-button{
        width:9vw;
        height:9vw;
    }

    .preview-img{
        width: 77vw;
    }

    .product-cell-small{
        width: 30vw !important;
        height: 20vw !important;
    }

    .product-cell-small img{
        width: 300px !important;
    }

    .payment-product-description{
        font-size: 5vw !important;
        margin-left: 3vw;
    }

    .cart-item{
        width: 30vw !important;
        height: 33vw !important;
        float: right;
    }

    .product-price{
        font-size: 5vw !important;
    }

    .item-picture{
        width: 30vw !important;
        height: 36vw !important;
        margin-left: 0vw !important;
    }

    .item-detail{
        height: 40vw !important;
        width: 40vw !important;
    }

    .item-detail h2,
    .item-detail .total-price h4 {
        font-size: 4.5vw !important;
    }

    .item-detail h3{
        font-size: 4vw !important;
    }

    .item-detail .total-price{
        margin-top: auto !important;
    }

    .item-detail .total-price h4{
        font-size: 3.5vw !important;
    }

    .item-detail .total-price h3{
        font-size: 4.5vw !important;
    }

    .product-cell-big{
        width: 90vw !important;
        height: 90vw !important;
        padding-bottom: 90vw !important;
    }

    .item-detail .d-flex{
        margin-top: auto !important;
    }

    .item-detail .add-or-remove h5{
        font-size: 5vw !important;
    }

    .item-detail .add-or-remove .less-button,
    .item-detail .add-or-remove .more-button{
        width: 7vw;
        height: 7vw;
        padding-top: 1px;

    }

    .item-detail .add-or-remove .less-button,
    .item-detail .add-or-remove .more-button{
        font-size: 2.5vw;
        margin-bottom: 10px;
    }

    .items-number-notif{
        height: 11vw !important;
        font-size: 3.5vw !important;
        text-align: center !important;
        justify-content: center !important;
        padding-top: 3vw !important;
    }

    .remove-item i{
        font-size: 6vw;
        margin-right: 0;
    }

    .checkout-window{
        margin-top: 20vw;
        max-width: 100%;
        margin-left: 0 !important;
    }

    .pay-now{
        margin-left: 25% !important;
        margin-top: 40px !important;
    }

    .thank-you img{
        width: 28vw;
        height: 28vw;
    }

    .category-button{
        display: flex;
        flex-wrap: wrap;
        white-space: nowrap;
    }

    .product-card-hoodie, .product-card-cap, .product-card-sleeveless{
        height: 50vw;
    }

    .product-card-sleeveless #garment{
        margin-left: 10%;
    }

    .product-card-sleeveless #embroidery{
        margin-left: -40%;
    }

    .store-embroidery{
        position: absolute;
        margin-left: -28vw !important;
        margin-top: 6.5vw !important;
        width: 25%;
    }

    .product-card-sleeveless #embroidery{
        margin-top: 8.5vw !important;
    }

    .product-card-cap #embroidery{
        margin-top: 8.5vw !important;
    }

    .product-card-tshirt #embroidery{
        margin-top: 8.5vw !important;
    }

    .product-card-longsleeve #garment{
        margin-left: 2vw !important;
    }
    
}

.my-cart-button{
    background-color: #316639;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    float: right;
    padding: 2em;
    position: sticky;
    border: 0;
    cursor: pointer;
}

/* PRODUCT PAGE STYLES */

.product-cell-big {
    width: 34vw;
    height: 32vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: #E8E8E8;
    border-radius: 30px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.pp-embroidery{
    margin-top: 15%;
    position: absolute;
    width: 26%;
}

.store-embroidery{
    position: absolute;
    margin-left: -10vw !important;
    margin-top: 2vw;
    width: 25%;
}

.preview-img {
    margin-top: 3%;
    max-width: 430px;
    max-height: 430px;
}

.product-name h2{
    margin-top: 20px;
    font-family: 'League Spartan';
    font-size: 50px;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.product-name h3{
    font-family: 'League Spartan';
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.product-cell-small{
    width: 200px;
    height: 130px;
    float: left;
    cursor: pointer;
    border: 0;
    background-color: aqua;
    padding: 10px 10px;
    background-color:#E8E8E8;
    margin-right: 15px;
    border-radius: 10px;
}

.product-cell-small img{
    max-width: 100%;
    max-height: 100%;
}

.garment-options{
    width: 100%;
}

.color-options{
    margin-top: 50px;
    max-width: 100%;
    width: 85%;
    margin-left: 7%;
    overflow-x: auto;
    white-space: nowrap;
}

.color-circle{
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

/* PAYMENT PAGE STYLES */

.gray-divisor{
    width: 100%;
    background-color: rgb(207, 207, 207);
    height: 2px;
    margin-bottom: 20px;
}

.cart-item{
    background-color: #E8E8E8;
    width: 200px;
    height: 240px;
    padding: 15px;
    border-radius: 20px;
}

.cart-item img{
    max-width: 100%;
}

.payment-product-description{
    font-family: 'League Spartan';
    font-weight: 400;
    font-size: 23px;
    float: right;
    margin-right: 40px;

}

.product-price{
    font-family: 'League Spartan';
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    margin-top: auto;
    bottom: 0;
}

.shipment-details {
    position: relative;
    width: 90%;
    max-width: 1000px;
    background: #ffffff;
    border-radius: 60px;
    padding: 8px 12px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 4%;
}

.shipment-details input {
    background: transparent;
    border: solid 2px;
    border-color:#316639;
    border-radius: 20px;
    padding: 13px 20px;
    color: black;
    font-family: 'League Spartan';
    margin-top: 20px;
    width: 100%;
    align-items: center;
}

.card-number{
    position: relative;
    width: 90%;
}

.card-number img{
    position: absolute;
}

.card-details {
    width: 100%;
    max-width: 1000px;
    background: #ffffff;
    align-items: center;
    border-radius: 60px;
    padding: 10px 12px;
    outline: 0;
    text-align: center;
}

.card-details input {
    background: transparent;
    border: solid 2px;
    border-color:#316639;
    border-radius: 20px;
    padding: 13px 20px;
    margin-top: 20px;
    color: black;
    font-family: 'League Spartan';
}

::placeholder{
    color: rgb(110, 110, 110);
}

.checkbox-terms {
    display: flex;
    font-family: 'League Spartan';
    font-size: 20px;
    justify-content: center;
    text-align: center;
    padding-right: 5px;
}

.pay-now{
    display: flex;
    margin-top: 100px;
    font-size: 22px;
    border-style: none;
    padding: 12px 50px;
    background-color: #316639;
    border-radius: 30px;
    color: white;
    font-family: 'League Spartan';
    cursor: pointer;
    margin-left: 40%;
}

.select{
    font-family: 'League Spartan';
    padding: 14px 20px;
    border-radius: 20px;
    border-color:#316639;
    border-width: 2.5px;
    font-size: 20px;
    margin-right: 40px;
}

.more-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border-color: #316639;
    border-width: 3px;
    cursor: pointer;
    outline: 0;
    margin-left: 10px;
}

.less-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border-color: #316639;
    border-width: 3px;
    cursor: pointer;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.add-or-remove h5{
    display: inline;
    font-family: 'League Spartan';
    font-weight: 400;
    color: black;
    font-size: 35px;

}

.d-flex{
    justify-content: center;
}

.add-to-cart-btn{
    background-color: #316639;
    border-style: none;
    padding: 14px 28px;
    font-family: 'League Spartan';
    font-size: 20px;
    color: white;
    font-weight: 400;
    border-radius: 50px;
    cursor: pointer;
}

.total-price h4, .total-price h3{
    font-family: 'League Spartan';
    margin-right: 50px;
}

/* MY CART INTERFACE STYLES */

.items-number-notif{
    margin-top: 30px;
    text-align: center;
    width: 800px;
    height: 60px;
    background-color: #F6ECDD;
    padding: 20px 30px;
    border-radius: 30px;
    font-family: 'League Spartan';
    color: #A09584;
    font-size: 20px;
}

.centered-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.item{
    display: flex;
    align-items: center;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

.item-picture{
    background-color: #E8E8E8;
    border-radius: 30px;
    height: 225px;
    width: 200px;
    padding: 20px 15px;
}

.item-picture img{
    width: 100%;
    height: auto;
}

.remove-item{
    background: none;
    cursor: pointer;
    border-style: none;
    margin-right: 15px;
}

.item-detail{
    font-family: 'League Spartan';
    display: flex;
    flex-direction: column;
    height: 225px;
    margin-top: 20px;
}

.item-detail h3{
    font-weight: 300;
    font-size: 20px;
}

.checkout-window{
    padding-top: 30px;
    background-color: #316639;
    height: auto;
    width: 400px;
    border-radius: 30px;
    color: white;
    font-family: 'League Spartan';
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-left: 25%;
}

.item-detail .d-flex{
    max-width: 100%;
}

.checkout-window .white-line{
    background-color: white;
    width: 50%;
    height: 4px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    margin-left: 25%;
    margin-bottom: 20px;
}

.checkout-window h2{
    position: relative;
    color: white;
    font-family: 'League Spartan';
    font-size: 23px;
    float: left;
}

.checkout-window h3{
    position: relative;
    color: white;
    font-family: 'League Spartan';
    font-size: 18px;
    font-weight: 300;
    float: right;
}

.btn-checkout{
    background-color: white;;
    color:#316639;
    font-family: 'League Spartan';
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 30px;
    border-style: none;
    font-weight: 500;
    margin-left: 25%;
    cursor: pointer;
}

.thank-you{
    margin-top: 150px;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'League Spartan';
    margin-bottom: 150px;
}

.thank-you img{
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 50px;
}

.back-to-home{
    margin-top: 50px;
    color: white;
    background-color: #316639;
    font-family: 'League Spartan';
    padding: 15px 40px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
    border-style: none;
    cursor: pointer;
}

th, td {
    border: 1px solid rgb(138, 138, 138);
    border-collapse: collapse;
    text-align: center;
    font-size: 14px;
    background-color: white;
    font-family: 'League Spartan';
    padding: 4px;
    height: 40px;
}

table {
    margin: 0px;
}

.nopad-td {
    padding: 0px;
    padding-left: 4px;
    background-color: transparent;
    border: none;
}

.dashb-button {
    border: none;
    background-color: #44754b;
    border-radius: 5px;
    color: white;
}