<!doctype html>

<html lang="en">
  <head>
    <!-- League Spartan font links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <!-- Font-Awesome Icons link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" href="styles/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Artex</title>
  </head>

  <header class="header">
    <img class="logo-picture" src="images/logo.png" alt="" width="80px;" height="80px;">
    <h3 style="padding-top:10px; padding-left: 5px; font-size: 30px;">Artex</h3>
    
    <button class="button search-button">
      <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #316639;"></i>
    </button>
  </header>

  <body>
    <div class="container" style="margin-top: 20px;">
        <h2 style="text-align: center; width: 100%;">Orders</h2>
        <div class="row" style="background-color: rgb(236, 236, 236); padding-top: 20px; padding-bottom: 40px;">
            <div class="col-lg-4">
                <h3 class="column-title">Active</h3>
                <table style="width: 100%;">
                    <tr>
                        <td>01/03/2024</td>
                        <td>Hoodie</td>
                        <td>Black</td>
                        <td>M</td>
                        <td>Deadpool</td>
                        <td class="nopad-td">
                            <button class="dashb-button" style="background-color: rgb(158, 68, 68);">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                            <button class="dashb-button">></button>
                        </td>
                    </tr>
                    <tr>
                        <td>02/03/2024</td>
                        <td>Hoodie</td>
                        <td>Yellow</td>
                        <td>L</td>
                        <td>Pikachu</td>
                        <td class="nopad-td">
                            <button class="dashb-button" style="background-color: rgb(158, 68, 68);">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                            <button class="dashb-button">></button>
                        </td>
                    </tr>
                    <tr>
                        <td>03/03/2024</td>
                        <td>T-Shirt</td>
                        <td>Black</td>
                        <td>S</td>
                        <td>Guts</td>
                        <td class="nopad-td">
                            <button class="dashb-button" style="background-color: rgb(158, 68, 68);">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                            <button class="dashb-button">></button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4">
                <h3 class="column-title">In progress</h3>
                <table style="width: 100%;">
                    <tr>
                        <td>27/02/2024</td>
                        <td>Hoodie</td>
                        <td>Purple</td>
                        <td>M</td>
                        <td>Gengar</td>
                        <td class="nopad-td">
                            <button class="dashb-button"><</button>
                            <button class="dashb-button">></button>
                        </td>
                    </tr>
                    <tr>
                        <td>28/02/2024</td>
                        <td>Cap</td>
                        <td>Blue</td>
                        <td>N/A</td>
                        <td>Pumas</td>
                        <td class="nopad-td">
                            <button class="dashb-button"><</button>
                            <button class="dashb-button">></button>
                        </td>
                    </tr>
                    <tr>
                        <td>29/02/2024</td>
                        <td>T-Shirt</td>
                        <td>Black</td>
                        <td>XS</td>
                        <td>Kuromi</td>
                        <td class="nopad-td">
                            <button class="dashb-button"><</button>
                            <button class="dashb-button">></button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4">
                <h3 class="column-title">Done</h3>
                <table style="width: 100%;">
                    <tr>
                        <td>24/02/2024</td>
                        <td>Long-S</td>
                        <td>Pink</td>
                        <td>XL</td>
                        <td>Mario</td>
                        <td class="nopad-td">
                            <button class="dashb-button"><</button>
                            <button class="dashb-button" style="background-color: rgb(177, 177, 70);">
                                <i class="fa-solid fa-box-archive"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>25/02/2024</td>
                        <td>Hoodie</td>
                        <td>Green</td>
                        <td>XXL</td>
                        <td>Weed</td>
                        <td class="nopad-td">
                            <button class="dashb-button"><</button>
                            <button class="dashb-button" style="background-color: rgb(177, 177, 70);">
                                <i class="fa-solid fa-box-archive"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>26/02/2024</td>
                        <td>T-Shirt</td>
                        <td>Orange</td>
                        <td>M</td>
                        <td>Naruto</td>
                        <td class="nopad-td">
                            <button class="dashb-button"><</button>
                            <button class="dashb-button" style="background-color: rgb(177, 177, 70);">
                                <i class="fa-solid fa-box-archive"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
  </body>
</html>